// out:./spotifyer.css

@sp: 600px;
@grid: 316px;
@margin: 8px;

// color

@spotify: #1ed761;
@bg: #888;
@bg-cell: #181818;
@text: #333;

// weight

@thin: 100;
@regular: 300;
@bold: 700;

// init

body {
  background: @bg;
  color: @text;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: @regular;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  @media screen and (max-width: @sp) {
    margin: 24px;
  }
}
a {
  text-decoration: none;
}

// architecture

body,
html {
  height: 100%;
}
header {
  position: absolute;
  padding: 32px;
  box-sizing: border-box;
  @media screen and (max-width: @sp) {
    padding: 0 0 64px;
    position: static;
  }
}
section {
  height: 100%;
  padding: 100px 32px 0;
  box-sizing: border-box;
  overflow-x: scroll;
  @media screen and (max-width: @sp) {
    padding: 0;
    overflow-x: visible;
  }
}

// header

h1,
h2 {
  display: inline;
  @media screen and (max-width: @sp) {
    display: block;
  }
}
h1 {
  color: @spotify;
  font-size: 40px;
  font-weight: @bold;
  margin: 0;
  padding: 0;
}
h2 {
  color: rgba(255,255,255,0.5);
  font-size: 13px;
  font-weight: @regular;
  margin: 0 16px;
  padding: 0;
  @media screen and (max-width: @sp) {
    margin: 4px 0 24px;
  }
}
button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  a {
    display: inline-block;
    color: #fff;
    font-size: 18px;
    padding: 0 8px 2px;
    border-bottom: 2px solid #fff;
    &::before {
      content: "+ ";
    }
    &:hover {
      color: @spotify;
      border-color: @spotify;
    }
  }
}

// section

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  white-space: nowrap;
  @media screen and (max-width: @sp) {
    white-space: normal;
    height: auto;
    padding-bottom: 16px;
  }
}
li {
  display: inline-block;
  background: @bg-cell;
  margin: 0 @margin 0 0;
  width: @grid;
  height: calc(~'100% - 64px');
  margin-top: 32px;
  border-radius: 6px;
  text-align: right;
  line-height: 0;
  @media screen and (max-width: @sp) {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 0 24px;
    padding-bottom: 8px;
  }
}
iframe {
  max-width: 100%;
  height: calc(~'100% - 80px');
  display: block;
  margin: 0 auto;
  padding-top: 8px;
  box-sizing: border-box;
  @media screen and (max-width: @sp) {
    width: 100%;
    height: 380px;
  }
}
h3 {
  margin: 0;
  padding: 12px 8px 4px;
  a {
    display: inline-block;
    color: @bg;
    font-size: 12px;
    font-weight: @regular;
    font-style: italic;
    &:hover {
      color: #000;
    }
  }
  img {
    @v: 20px;
    width: @v;
    height: @v;
    border-radius: @v / 2;
    vertical-align: middle;
    margin-right: 2px;
  }
}
p {
  font-size: 12px;
  color: @bg;
  padding: 0 8px;
}
